body {
    margin: 0rem;
    padding: 0rem;
    background-color: #111;
    color: #fff;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 1rem;
    background-color: #5af;
    color: #fff;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

form {
    margin-block-end: 0rem;
}

input {
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #5af;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #5af;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    color: #fff;
    height: 10rem;
    border: 1px solid #5af;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    resize: vertical;
}